@import url(./common/normalize.css);
@import url(./common/reset.css);

body {
  background-color: var(--black);
  color: var(--white);
}

a {
  text-decoration: none;
  color: inherit;
}

.a11y-hidden,
legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

/* ----------------------------------- 공통 ----------------------------------- */

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 29px 70px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  position: fixed;
  z-index: 999;
  width: 100vw;
}

/* 로고이미지(taing)도 같이 작아지게 하고싶었으나 대실패  */
.logo {
  width: 132px; /*= 132px*/
  height: 42px; /* =42px*/
  flex-shrink: 0;
}

.logo--link {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 전체적으로 logo와 nav를 같이 작아지게 하고싶었으나 대실패 */
nav {
  margin-left: 58px;
}

.gnb {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.gnb-live::before {
  content: url(../assets/main/Icon/icon_live@3x.png);
  vertical-align: middle;
}

.gnb-live {
  cursor: pointer;
  margin-right: 58px; /* 1.5vw = 30px */
  font: var(--text-paragraph);
  font-size: var(--text-size-l);
  color: var(--gray-200);
  text-align: center;

  /*얘 혼자, margin-top을 줘야 레이아웃이 맞는 이슈발생 => 아마 이미지크기때문에 레이아웃이 꺠지는현상이 나오는걸로 유추 */
  margin-top: 3px;
}

.gnb-tv {
  cursor: pointer;
  margin-right: 58px;
  font: var(--text-paragraph);
  font-size: var(--text-size-l);
  color: var(--gray-200);
  width: auto;
}

.gnb-movie {
  cursor: pointer;
  margin-right: 58px;
  font: var(--text-paragraph);
  font-size: var(--text-size-l);
  color: var(--gray-200);
}

/*  개발자도구-> 기기툴바전환 선택시 aside자체가 옆으로 밀리는 이슈 발생 (모바일기준, 150px을 주면 보임) */

aside {
  margin-left: auto;
}

.search {
  margin-right: 10px;
  background: transparent;
  border: none;
  width: 40px;
  height: 40px;
}

.profile {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  background: transparent;
  border: none;
  width: 40px;
  height: 40px;
}

/* 공통 swiper  */
.main-visual {
  position: relative;
  width: 100%;
  height: 100%;
}

.swiper {
  /* text-align: center; */
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-contents {
  width: 100%;
  height: 100%;
}

.main-visual.swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 스와이퍼 호버시,  */

/* .swiper .swiper-slide {
  padding-top: 3px;
  padding-bottom: 3px;
  transition: all 0.3s;
} */

/* .swiper .swiper-slide:hover {
  transform: translateY(-10px);
  box-shadow: -1px 4px 24px -7px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: -1px 4px 24px -7px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: -1px 4px 24px -7px rgba(0, 0, 0, 0.7);
} */

/* .swiper .swiper-slide a {
  display: block;
  height: 100%;
  border-radius: 6px;
  overflow: hidden;
}

.swiper .swiper-slide img {
  width: 100%;
  display: block;
  border-radius: 6px;
  object-fit: cover;
} */

/* p태그 + 자세히보기상자 */
/* 트렌지션 효과를 주려했으나, 해상도가 줄어들 때 즉각 반응을 못하는 이슈가 발생 */
.text-wrap {
  position: absolute;
  bottom: 20%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0px 70px;
  width: 100%;
}

.text-wrap p {
  font-size: var(--text-size-xl);
  font: var(--text-paragraph);
}

.test001 {
  display: block;
  font: var(--text-paragraph);
  font-size: var(--text-size-l);
  color: var(--white);
  background: transparent;
  padding: 22px 64px;
  border: 1px solid var(--gray-300);
  border-radius: 4px;
}

.swiper-button-next {
  background: url(../assets/main/Icon/icon_next-button@3x.png)
    no-repeat;
  width: 70px;
  height: 70px;
}

.swiper-button-prev {
  background: url(../assets/main/Icon/icon_prev-button@3x.png)
    no-repeat;
  width: 70px;
  height: 70px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

/* -------------------------------- 모바일 디바이스 -------------------------------- */

@media (min-width: 320px) and (max-width: 767px) {
  .header {
    padding: 14px 18px;
  }
  .logo {
    width: 77px; /*= 132px*/
    height: 24px; /* =42px*/
  }
  .button {
    width: 26px;
    height: 30px;
  }

  .profile {
    width: 18px;
    height: 18px;
  }

  .gnb {
    display: none;
  }

  .text-wrap p {
    font-size: var(--text-size-s);
    font: var(--text-label);
  }

  .test001 {
    height: 27px;
    /* 혹은 9.7 */
    /* width: 18vw; */
    width: 70px;
    height: 27px;
    font-size: var(--text-size-s);
  }

  .swiper-button-prev {
    background: url(../assets/main/Icon/icon_prev-button.png)
      no-repeat;
    width: 14px;
    height: 14px;
    /* background-position: center; */
  }

  .swiper-button-next {
    background: url(../assets/main/Icon/icon_next-button.png)
      no-repeat;
    width: 14px;
    height: 14px;
    /* background-position: center; */
  }

  .swiper-pagination-bullet {
    /* display: inline-block;
    background-color: var(--white); */
    width: 8px;
    height: 8px;
  }
}

/* -------------------------------- 태블릿 디바이스 -------------------------------- */

@media (min-width: 768px) and (max-width: 1199px) {
  .header {
    padding: 20px 50px;
  }

  .logo {
    width: 77px; /*= 132px*/
    height: 24px; /* =42px*/
  }

  /* --------------------------------- 작아도너무작아 -------------------------------- */
  /* .gnb-live::before {
    content: url(../assets/live@1x.png);
  } */

  .button {
    width: 24px;
    height: 24px;
  }

  .profile {
    width: 24px;
    height: 24px;
  }
  .text-wrap p {
    font-size: var(--text-size-m);
    font: var(--text-label);
  }

  .test001 {
    /* padding: 20px 0px; */
    /* height: 6.5vh; */
    /* font-size: 1.83vw; */
    gap: 12px;

    width: 128px;
    /* height: 44px; */
    font-size: var(--text-size-s);
  }

  .swiper-button-prev {
    background: url(../assets/main/Icon/icon_prev-button@2x.png)
      no-repeat;
    width: 40px;
    height: 40px;
    /* background-position: center; */
  }
  .swiper-button-next {
    background: url(../assets/main/Icon/icon_next-button@2x.png)
      no-repeat;
    width: 40px;
    height: 40px;
    /* background-position: center; */
  }
}
