@import url(./common/normalize.css);
@import url(./common/reset.css);

*,
*::before,
*::after {
  box-sizing: border-box;
}

.deactive {
  background-color: transparent;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.4s;
  -webkit-transition-timing-function: ease;
}
.active {
  background-color: var(--black);
  transition-duration: 0.5s;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.4s;
  -webkit-transition-timing-function: ease;
}

body {
  background-color: var(--black);
  color: var(--white);
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style-type: none;
}

h2 {
  color: var(--white);
}

.a11y-hidden,
legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

/* --------------------------------- 전체 스와이퍼 (ver.정현님 start) -------------------------------- */
.swiperQV,
.swiperLP,
.swiperRP,
.swiperOT,
.swiperEV {
  padding: 0 8px;
  margin-bottom: 16px;
}
.swiperQV h2,
.swiperLP h2,
.swiperRP h2,
.swiperOT h2,
.swiper h2 {
  padding: 0 8px;
  margin-bottom: 16px;
  font: var(--text-heading);
  font-size: var(--text-size-xl);
}
/* ---------------------------- 전체 스와이퍼 슬라이드의 a태그 --------------------------- */
.swiperQV .swiper-slide a {
  display: block;
  height: 100%;
  border-radius: 6px;
  overflow: hidden;
}
.swiperLP .swiper-slide a {
  display: block;
  height: 100%;
  border-radius: 6px;
  overflow: hidden;
}
.swiperRP .swiper-slide a {
  display: block;
  height: 100%;
  border-radius: 6px;
  overflow: hidden;
}
.swiperOT .swiper-slide a {
  display: block;
  height: 100%;
  border-radius: 6px;
  overflow: hidden;
}
.swiperEV .swiper-slide a {
  display: block;
  height: 100%;
  border-radius: 6px;
  overflow: hidden;
}
/* --------------------------- 전체 스와이퍼 슬라이드의 img태그(변수명으로 못하나?) -------------------------- */
.swiperOT .swiper-slide img {
  width: 100%;
  display: block;
  border-radius: 6px;
  object-fit: cover;
}
.swiperQV .swiper-slide img {
  width: 100%;
  display: block;
  border-radius: 6px;
  object-fit: cover;
}
.swiperRP .swiper-slide img {
  width: 100%;
  display: block;
  border-radius: 6px;
  object-fit: cover;
}
.swiperLP .swiper-slide img {
  width: 100%;
  display: block;
  border-radius: 6px;
  object-fit: cover;
}
.swiperEV .swiper-slide img {
  width: 100%;
  display: block;
  border-radius: 6px;
  object-fit: cover;
}

/* ---------------------------------- 공통 뱃지 --------------------------------- */
.swiper-slide.badge {
  position: relative;
}

.swiper-slide.badge::before {
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  padding: 4px 8px;
  font-size: 10px;
  border-radius: 4px;
}

/* --------------------------------- 메인 컨텐츠 --------------------------------- */
/* ----------------------------- 타잉에서 꼭 봐야하는 콘텐츠 ---------------------------- */

.recommend-taing .swiper-slide {
  width: 92px;
}

/* -------------------------------- quick VOD ------------------------------- */
.quick-vod .swiper-slide {
  width: 145px;
}

.quick-vod .swiper-slide h3 {
  margin-top: 4px;
  font: var(--text-heading);
  font-size: var(--text-size-s);
  color: var(--gray-200);
}

.quick-vod .swiper-slide p {
  font: var(--text-label);
  font-size: var(--text-size-s);
  color: var(--gray-300);
}

.swiper-slide.badge-quick-vod::before {
  content: "Quick VOD";
  background-color: var(--badge-pink);
}

/* ------------------------------- 실시간 인기 프로그램 ------------------------------ */
.realtime-popular .swiper-slide {
  width: 92px;
}

.realtime-popular .swiper-slide a {
  position: relative;
  padding-bottom: 28px;
}

.realtime-popular .swiper-slide .item-info {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
}

.realtime-popular .swiper-slide .rank-number {
  font: var(--text-heading);
  font-size: var(--text-size-xxl);
  line-height: var(--text-size-xxl);
  font-style: italic;
}

.realtime-popular .swiper-slide p {
  position: relative;
  padding-right: 8px;
  margin-top: 20px;
  font: var(--text-label);
  font-size: var(--text-size-s);
  line-height: var(--text-size-s);
  color: var(--gray-300);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.realtime-popular .swiper-slide p::after {
  display: block;
  content: "";
  width: 4px;
  height: 4px;
  position: absolute;
  bottom: var(--text-size-s);
  right: 0;
  background-color: var(--brand-red-1);
  border-radius: 50%;
}

/* ------------------------------- 인기 LIVE 채널 ------------------------------- */
.live-popular .swiper-slide {
  width: 145px;
}

.live-popular .swiper-slide .item-info {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 16px;
  margin-top: 4px;
}

.live-popular .item-info .rank-number {
  font: var(--text-heading);
  font-size: var(--text-size-xxl);
  font-style: italic;
  color: var(--white);
}

.live-popular .item-info .program-info {
  overflow: hidden;
}

.live-popular .item-info h3 {
  font: var(--text-label);
  font-size: var(--text-size-s);
  color: var(--gray-200);
  line-height: var(--text-size-s);
}

.live-popular .item-info h3 span {
  display: block;
  font: var(--text-paragraph);
  font-size: var(--text-size-s);
  color: var(--gray-300);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.live-popular .item-info p {
  font: var(--text-paragraph);
  font-size: var(--text-size-s);
  line-height: var(--text-size-s);
  color: var(--gray-300);
}

/* ------------------------------- 오직 타잉에만 있어요(ver.정현님 end) ------------------------------ */
.only-taing.swiper .swiper-slide {
  width: 139px;
}

/* 이벤트 */
.event.swiper .swiper-slide {
  width: 285px;
}

/* ---------------------------- 내 작업 부분(헤더+메인비주얼) --------------------------- */

.header {
  display: flex;
  /* position: relative; */
  flex-direction: row;
  align-items: center;
  padding: 29px 70px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  position: fixed;
  z-index: 999;
  width: 100vw;
}

/* 로고이미지(taing)도 같이 작아지게 하고싶었으나 대실패  */
.logo {
  width: 132px; /*= 132px*/
  height: 42px; /* =42px*/
  flex-shrink: 0;
}

.logo--link {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 전체적으로 logo와 nav를 같이 작아지게 하고싶었으나 대실패 */
nav {
  margin-left: 50px; /*3vw*/
}

.gnb {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.gnb-live::before {
  content: url(../assets/main/Icon/icon_live@3x.png);
  vertical-align: middle;
}

.gnb-live {
  cursor: pointer;
  margin-right: 30px; /* 3vw*/
  font: var(--text-paragraph);
  font-size: var(--text-size-l);
  color: var(--gray-200);
  text-align: center;

  /*얘 혼자, margin-top을 줘야 레이아웃이 맞는 이슈발생 => 아마 이미지크기때문에 레이아웃이 꺠지는현상이 나오는걸로 유추 */
  margin-top: 3px;
}

.gnb-tv {
  cursor: pointer;
  margin-right: 30px;
  font: var(--text-paragraph);
  font-size: var(--text-size-l);
  color: var(--gray-200);
  width: auto;
}

.gnb-movie {
  cursor: pointer;
  margin-right: 30px;
  font: var(--text-paragraph);
  font-size: var(--text-size-l);
  color: var(--gray-200);
}

aside {
  /*  개발자도구-> 기기툴바전환 선택시 aside자체가 옆으로 밀리는 이슈 발생 (모바일기준, 150px을 주면 보임) */
  margin-left: auto;
}

.search {
  background: transparent;
  border: none;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.profile {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  background: transparent;
  border: none;
  width: 40px;
  height: 40px;
}

/* 이거봐달라고하자 있으나없으나 똑같은건가? */
.main-visual .swiper {
  position: relative;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 16px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-contents {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 트렌지션 효과를 주려했으나, 해상도가 줄어들 때 즉각 반응을 못하는 이슈가 발생 */
.text-wrap {
  position: absolute;
  top: 31.45vw;
  left: 4vw;
  width: 550px;
  height: 40px;
  text-align: left;
  opacity: 0;
  z-index: 1;
  /* transition: 0.2s; */
}

.swiper-slide-active .text-wrap {
  opacity: 1;
  /* transition: 0.5s; */
}

.text-wrap p {
  width: 900px;
  height: 100%;
  font-size: var(--text-size-xl);
  /* 1.8vw; */
  color: var(--white);
}

.swiper-pagination {
  display: absolute;
  text-align: left;
  width: 100px;
  top: 78%;
  margin-left: 5.5vw;
}

.swiper-pagination-bullet {
  background-color: var(--white);
  width: 12px;
  height: 12px;
  display: inline-block;
}

.swiper-button-next {
  background: url(../assets/main/Icon/icon_next-button@3x.png)
    no-repeat;
  width: 70px;
  height: 70px;
}

.swiper-button-prev {
  background: url(../assets/main/Icon/icon_prev-button@3x.png)
    no-repeat;
  width: 70px;
  height: 70px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.test001 {
  font: var(--text-paragraph);
  font-size: var(--text-size-l);
  color: var(--white);
  background: inherit;
  position: absolute;
  z-index: 1;
  bottom: 8.8vw;
  right: 6vw;
  width: 221px;
  height: 78px;
  border: 1px solid var(--gray-300);
  border-radius: 4px;
}

/* --------------------------------------------------- */
.wrap-autoplay-control {
  /* background-color: red; */
  position: absolute;
  z-index: 10;
  /* top: 485px; */
  top: 78%;
  left: 3.4vw;
  transform: translateY(-50%);

  /* 얼추1000px부터 레이아웃 안무너짐 */
  /* top:34.75vw;
  left:2.2vw; */
}
.wrap-autoplay-control button {
  display: block;
  width: 20px;
  height: 20px;
  border: 0;
  background: transparent;
  /* background-color: blueviolet; */
  cursor: pointer;
}
.wrap-autoplay-control button::before {
  /* background-color: blue; */
  position: absolute;
  display: block;
  content: "";
  /* right: 150px; */
  /* width: 1000px; */
  /* height: 1000px; */
}
.wrap-autoplay-control button[aria-pressed="false"]:before {
  /* top: -5vw; */
  /* left: -25.6vw; */
  width: 15px;
  height: 15px;
  border-left: 4px solid #fff;
  border-right: 4px solid #fff;
  box-sizing: border-box;
}
.wrap-autoplay-control button[aria-pressed="true"]:before {
  width: 15px;
  height: 15px;
  border-left: 4px solid #fff;
  border-right: 4px solid #fff;
  box-sizing: border-box;
}

.banner {
  /* --------------------------- max-width: 1920px; --------------------------- */

  /* height: 177px; */
  margin: 28px auto;
}
.banner img {
  width: 100%;
  height: auto;
}

/* -------------------------------- footer 시작 ------------------------------- */

footer {
  padding: 8.75rem 4.25rem 10.625rem;
}

footer::before {
  content: "";
  display: block;
  background-color: var(--gray-800);
  width: 100%;
  height: 1px;
}

.footer-info-list {
  margin-top: 1.5rem;
}

.footer-info-list a {
  color: var(--gray-500);
}
.footer-info-list a:hover {
  color: var(--gray-400);
  transition: color;
  transition-duration: 200ms;
}

.footer-info-list li {
  font-size: var(--text-size-l);
}

.guide-list {
  margin-top: 1.75rem;
}

.guide-list a {
  color: var(--gray-200);
  text-decoration: none;
}

.guide-list li:last-child {
  margin-bottom: 0;
}

.guide-list a:hover {
  color: var(--gray-100);
  transition: color;
  transition-duration: 300ms;
  transition-timing-function: ease;
}

.guide-list li {
  font: var(--text-paragraph);
  display: inline;
  margin-right: 2.25rem;
  font-size: var(--text-size-l);
}

.footer-info-list li {
  color: var(--gray-500);
}

.footer-info-list span:not(:first-of-type)::before,
.footer-info-list a:not(:first-of-type)::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 1rem;
  margin: 0 8px 0 6px;
  background-color: var(--gray-800);
}

.sns-wrapper {
  margin-top: 1.5rem;
}

.sns-wrapper a {
  text-decoration: none;
  margin-right: 1.25rem;
}

.sns-wrapper img {
  width: 3.25rem;
  height: 3.25rem;
}

.sns-wrapper img:hover {
  filter: brightness(180%);
  transition: filter;
  transition-duration: 200ms;
  transition-timing-function: ease;
}

.copyright {
  color: var(--gray-500);
  font: var(--text-paragraph);
  margin-top: 1.5rem;
  font-size: var(--text-size-l);
}

/* -------------------------------- footer 끝 -------------------------------- */

/* -------------------------------- 모바일 디바이스 -------------------------------- */

@media (min-width: 320px) and (max-width: 767px) {
  .header {
    padding: 14px 18px;
  }
  .aside {
    margin-left: 300px;
  }

  .logo {
    width: 77px; /*= 132px*/
    height: 24px; /* =42px*/
  }
  .button {
    width: 26px;
    height: 30px;
  }

  .profile {
    width: 18px;
    height: 18px;
  }

  .gnb {
    display: none;
  }

  .swiper-button-prev {
    background: url(../assets/main/Icon/icon_prev-button.png)
      no-repeat;
    width: 14px;
    height: 14px;
    /* background-position: center; */
  }

  .swiper-button-next {
    background: url(../assets/main/Icon/icon_next-button.png)
      no-repeat;
    width: 14px;
    height: 14px;
    /* background-position: center; */
  }

  .wrap-autoplay-control {
    top: 34.3vw;
    left: 3vw;
    /* top: 33vw;
    margin-left: 38px; */
  }

  .wrap-autoplay-control button {
    /* display: block; */
    width: 20px;
    height: 20px;
    /* border: 0;
    background: transparent;
    cursor: pointer; */
  }

  .wrap-autoplay-control
    button[aria-pressed="false"]:before {
    width: 11px;
    height: 11px;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
  }
  .wrap-autoplay-control
    button[aria-pressed="true"]:before {
    width: 11px;
    height: 11px;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
  }
  .text-wrap {
    top: 30vw;
  }

  .text-wrap p {
    font-size: var(--text-size-s);
  }

  .swiper-pagination {
    top: 33.3vw;
    margin-left: 40px;
  }

  .swiper-pagination-bullet {
    /* display: inline-block;
    background-color: var(--white); */
    width: 8px;
    height: 8px;
  }

  .test001 {
    height: 27px;
    /* 혹은 9.7 */
    /* width: 18vw; */
    width: 90px;
    height: 27px;
    font-size: var(--text-size-s);
  }

  .event.swiper .swiper-slide {
    width: 145px;
  }

  /* -------------------------------- footer 시작 ------------------------------- */

  footer {
    padding: 3.25rem 1rem 5.125rem 1rem;
  }

  .guide-list {
    margin-top: 0.5rem;
  }

  .guide-list li {
    margin-bottom: 0.25rem;
  }
  .guide-list li:last-child {
    margin-bottom: 0;
  }

  .footer-info-list {
    display: none;
  }

  .sns-wrapper {
    margin-top: 1rem;
  }

  .sns-wrapper a {
    margin-right: 0.5rem;
  }

  .copyright {
    margin-top: 1rem;
    font-size: var(--text-size-s);
  }

  /* -------------------------------- footer 끝 -------------------------------- */
}

/* -------------------------------- 태블릿 디바이스 -------------------------------- */

@media (min-width: 768px) and (max-width: 1199px) {
  .header {
    padding: 20px 50px;
  }

  .logo {
    width: 77px; /*= 132px*/
    height: 24px; /* =42px*/
  }

  .gnb-live {
    font-size: var(--text-size-s);
  }
  .gnb-tv {
    font-size: var(--text-size-s);
  }
  .gnb-movie {
    font-size: var(--text-size-s);
  }
  /* --------------------------------- 작아도너무작아 -------------------------------- */
  .gnb-live::before {
    content: url(../assets/main/Icon/icon_live.png);
  }

  .button {
    width: 24px;
    height: 24px;
  }

  .profile {
    width: 24px;
    height: 24px;
  }

  .wrap-autoplay-control {
    left: 3.2vw;
  }

  .swiper-pagination {
    margin-left: 60px;
  }

  .swiper-pagination-bullet {
    /* display: inline-block;
    background-color: var(--white); */
    width: 10px;
    height: 10px;
  }

  .test001 {
    /* padding: 20px 0px; */
    /* height: 6.5vh; */
    /* font-size: 1.83vw; */
    gap: 12px;

    /* width: 128px ; */
    width: 128px;
    height: 44px;
    font-size: var(--text-size-s);
  }

  .text-wrap p {
    font-size: var(--text-size-m);
  }

  .swiper-button-prev {
    background: url(../assets/main/Icon/icon_prev-button@2x.png)
      no-repeat;
    width: 40px;
    height: 40px;
    /* background-position: center; */
  }
  .swiper-button-next {
    background: url(../assets/main/Icon/icon_next-button@2x.png)
      no-repeat;
    width: 40px;
    height: 40px;
    /* background-position: center; */
  }

  .event.swiper .swiper-slide {
    width: 214px;
  }

  /* -------------------------------- footer 시작 ------------------------------- */

  footer {
    padding: 4.375rem 2.5rem 6.25rem;
  }

  .guide-list {
    margin-top: 1rem;
  }

  .guide-list li {
    display: inline;
    margin-right: 1.25rem;
  }

  .guide-list li:last-child {
    margin-bottom: 0;
  }

  .footer-info-list {
    margin-top: 0.75rem;
  }

  .footer-info-list a {
    color: var(--gray-500);
  }
  .footer-info-list a:hover {
    color: var(--gray-400);
    transition: color;
    transition-duration: 200ms;
  }

  .footer-info-list li {
    font: var(--text-paragraph);
    font-size: var(--text-size-s);
  }

  .footer-info-list span:not(:first-of-type)::before,
  .footer-info-list a:not(:first-of-type)::before {
    height: 0.625px;
    margin: 0 4px 0 2px;
  }

  .sns-wrapper {
    margin-top: 0.75rem;
  }

  .sns-wrapper a {
    margin-right: 0.5rem;
  }

  .sns-wrapper img {
    width: 1.875rem;
    height: 1.875rem;
  }

  .copyright {
    margin-top: 0.75rem;
    font: var(--text-paragraph);
    font-size: var(--text-size-s);
  }

  /* -------------------------------- footer 끝 -------------------------------- */
}
