@import url(./common/normalize.css);
@import url(./common/reset.css);

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--black);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

h2 {
  color: var(--white);
}

.header {
  display: flex;
  /* position: relative; */
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  padding: 29px 70px;
  /* max-width: 100%; */
  /* height: 100%; */
  background: var(--black);
}

.logo {
  width: 132px;
  height: 42px;
  /* position: absolute; */
  /* top: -8px; */
  /* left: 72px; */
  flex-shrink: 0;
}

.logo--link {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../assets/img_logo.png) no-repeat;
  background-size: 132px 42px;
}

nav {
  margin-left: 4.2vw;
}

.gnb {
  display: flex;
  flex-flow: row nowrap;
  /* justify-content: spac; */
  align-items: center;
  /* gap: 1px; */
  /* width: 689.92px; */
  /* margin-left: 30px; */
  /* margin: 0 30px; */
}

.gnb-live::before {
  content: url(../assets/Live.png);
  vertical-align: middle;
  margin: auto 0;
  /* text-align: center; */
  /* align-items: center; */
}

.gnb-live {
  /* text-paragraph-l*/
  cursor: pointer;
  margin-top: 3px;
  margin-right: 29.2675px;
  font: var(--text-label);
  font-size: var(--text-size-l);
  color: var(--gray-200);
  text-align: center;
  /* width: 200px; */
}

.gnb-Tv {
  cursor: pointer;
  margin-right: 29.2675px;
  font: var(--text-label);
  font-size: var(--text-size-l);
  color: var(--gray-200);
  width: auto;
}

/* .gnb-Tv a {
  width: 200px;
} */

.gnb-Movie {
  cursor: pointer;
  margin-right: 25px;
  font: var(--text-label);
  font-size: var(--text-size-l);
  color: var(--gray-200);
}

.gnb-Paramount {
  /* left: 1.27%;
  right: 0.01%;
  top: 14.58%;
  bottom: 10.41%; */
}

aside {
  margin-left: auto;
}

.button {
  margin-right: 10px;
  background-color: var(--black);
}

.profile {
  /* position: absolute; */
  top: 18px;
  right: 20px;
  background-color: var(--black);
}
/* 
  .bullet.is-active {
    border: 4px solid brown;
    transform: translate(-5px, -5px);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.466);
  } */

/* .pagination {
  display: flex;
  justify-content: space-between;
}

.bullet img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 16px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.test01 {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.test01 p {
  position: absolute;
  top: 30.458vw;
  left: 4vw;
  width: 365px;
  opacity: 0.8;
  text-align: left;
  /* background-color: #000; */
  color: var(--white);
  font-size: 28.43px;
  font-weight: 400;
}

.swiper-pagination {
  display: inline-block;
  width: 30%;
  /* ------------------ */
  /* display: flex;
  flex-direction: row; */
  /* ------------------------------- */
  /* align-items: center; */
  text-align: left;
  /* position: absolute; */
  /* bottom: 20%; */
  /* right: auto; */
  top: 80%;
  margin-left: 100px;
  gap: 6px;

  /* background-color: red; */
}
.swiper-pagination-bullet {
  background-color: var(--white);
  width: 12px;
  height: 12px;
  display: inline-block;
}

.swiper-button-next {
  background: url(../assets/bullet-next.png) no-repeat;
  width: 70px;
  height: 70px;
  /* background-position: center; */
}

.swiper-button-prev {
  background: url(../assets/bullet-prev.png) no-repeat;
  width: 70px;
  height: 70px;
  /* background-position: center; */
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

/* --------------------------------------------------- */
.wrap-autoplay-control {
  position: absolute;
  z-index: 10;
  bottom: 7px;
  /* left: calc(50% + 60px); */
  transform: translateX(-50%);
}
.wrap-autoplay-control button {
  display: block;
  width: 20px;
  height: 20px;
  border: 0;
  background: transparent;
  cursor: pointer;
}
.wrap-autoplay-control button:before {
  display: block;
  content: "";
  position: absolute;
}
.wrap-autoplay-control button[aria-pressed="false"]:before {
  top: -70px;
  left: -530px;
  width: 12px;
  height: 12px;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
  box-sizing: border-box;
}
.wrap-autoplay-control button[aria-pressed="true"]:before {
  top: 2px;
  left: 2px;
  border-top: 8px solid transparent;
  border-left: 16px solid #fff;
  border-bottom: 8px solid transparent;
}

@media (max-width: 1200px) {
  .gnb-Movie,
  .gnb-live,
  .gnb-Tv {
    font-size: 1rem;
    /* calc(6px + 0.5vw); */
  }
  /* html {
    font-size: 1vw;
  } */
}

@media (min-width: 320px) and (max-width: 768px) {
}

@media (min-width: 640px) and (max-width: 768px) {
}
